body {
	width: 1400px;
	height: 100%;
}

.contact-information {
	width: 100%;

}


h1.name {
	font-size: 30pt;
	text-align: center;
	border-bottom: dotted .1em black;
	font-family: 'Denk One', sans-serif;
	padding-bottom: 10px;

}

h2.junior-dev {
	text-align: center;

}

.information-links {
	list-style: none;
	display: inline-block;

}

.github {
	margin-left: 90px;
}

.linked-in {
	margin-left: 370px;
}

.twitter {
	margin-left: 650px;
}

.resume {
	margin-left: 930px;
}

.launch {
	margin-left: 1210px;
}


div.contact-information {
	display: inline;
	opacity: 0.5;

}

.information-links li a img {
	height: 90px;
	width: 90px;
	border-radius: .8em;
	display: inline-block;

}





