body {
	width: 1400px;
	height: 100%;
}

.contact-information {
	height: 250px;
	width: 100%;

}


h1.name {
	font-size: 30pt;
	text-align: center;
	border-bottom: dotted .1em black;
	font-family: 'Denk One', sans-serif;
	padding-bottom: 10px;

}

h2.junior-dev {
	text-align: center;

}

.information-links {
	padding-top: 10em;
	list-style: none;
	margin: auto;

}

ul.information-links li {
	display: inline;
	margin:6%;
	width: 100%;

}

.linked-in-button {
	border-radius: 12px;
	height:85px;
	width:85px;
	margin-bottom: 50px;

}

.launch-button {
	border-radius: 12px;
	height:85px;
	width:85px;

}

.twitter-button {
	border-radius: 12px;
	height:85px;
	width:85px;

}

.github-button {
	border-radius: 12px;
	height:85px;
	width:85px;

}

.resume-button {
	border-radius: 12px;
	height:85px;
	width:85px;
	margin-bottom: 50px;

}